@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html[data-theme=dark]{
    --primary: rgb(64, 136, 191);
    --base-100: rgb(19, 49, 75);
    --accent: rgb(255, 201, 91);
    --text: rgb(235, 235, 235);
    --gradient: linear-gradient(180deg, #4088BF 0%, #155E7E 52.60%, #0D223A 100%, #0D223A 100%);
  }

  html[data-theme=light]{
    --primary: rgb(60, 149, 217);
    --base-100: rgb(156, 190, 216);
    --accent: rgb(250, 204, 21);
    --text: rgb(19, 49, 75);
    --gradient: linear-gradient(180deg, #3C95D9 0%, #206192 50%, #0D223A 100%, #1C537D 100%);
  }

}

html[data-theme=dark] #wave path {
  fill: #4088BF;
}

html[data-theme=light] #wave path {
  fill: #5CB2F4;
}