@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root{
    --neutral-gray: rgb(197, 208, 217);
    --neutral-white: rgb(235, 235, 235);
    --neutral-black: rgb(30, 30, 30);
    --neutral-gradient: linear-gradient(95deg, rgba(21, 94, 126, 0.50) 4.43%, rgba(21, 94, 126, 0.20) 97.74%);
    --shadow-card: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  html[data-theme=dark]{
    --primary: rgb(64, 136, 191);
    --base-100-rgba: 19, 49, 75;
    --base-100: rgb(19, 49, 75);
    --accent: rgb(255, 201, 91);
    --text: rgb(235, 235, 235);
    --gradient: linear-gradient(180deg, #4088BF 0%, #155E7E 52.60%, #0D223A 100%, #0D223A 100%);
  }

  html[data-theme=light]{
    --primary: rgb(60, 149, 217);
    --base-100-rgba: 156, 190, 216;
    --base-100: rgb(156, 190, 216);
    --accent: rgb(250, 204, 21);
    --text: var(--neutral-white);
    --gradient: linear-gradient(180deg, #5CB2F4 0%, #206192 50%, #0D223A 100%, #1C537D 100%);
  }

}

@layer utilities {
  .body-line {
    position: relative;
  }
  .body-line::before {
    @apply w-2.5;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background: var(--accent);
  }
  .body-line-t-rounded::before {
    @apply top-auto rounded-t;
  }
  .body-line-b-rounded::before {
    /* 67.5 and 37.5 are magic numbers that looks perfect in the UI */
    @apply top-0 lg:h-[67.5%] h-[37.5%] rounded-b; 
  }
}

html[data-theme=dark] #wave path {
  fill: #4088BF;
}

html[data-theme=light] #wave path {
  fill: #5CB2F4;
}

.carousel.carousel-slider {
  overflow: visible !important;
}

html {
  scroll-behavior: smooth;
}

.slider-wrapper {
  border-radius: 8px !important;
}