@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html[data-theme=dark]{
    --primary: #4088BF;
    --accent: #FFC933;
    --accent-alternate: #FFC933;
    --content: #EBEBEB;
    --content-alternate: #EBEBEB;
    --base-100: #13314B; 
  }

  html[data-theme=light]{
    --primary: #5CB2F4;
    --accent: #EF6F6C;
    --accent-alternate: #D14B47;
    --content: #13314B;
    --content-alternate: #EBEBEB;
    --base-100: #9CBED8; 
  }

}

html[data-theme=dark] #wave path {
  fill: #4088BF;
}

html[data-theme=light] #wave path {
  fill: #5CB2F4;
}